$position-values: (
  0: 0,
  1: 1%,
  50: 50%,
  100: 100%
);

@import "bootstrap/scss/bootstrap";

body {
  background-color: white;
  display: none;
}

.gray {
  color: gray;
}

.black {
  background-color: rgb(40, 40, 40);
}

